
a{
    text-decoration: none;

}

body {
    background-image: url("../images/body/BACKGROUND/background_village.png");
    max-width: 100%;  
    margin: auto;
    width:960px ; 
    padding: 0;
}
.milieu{
    background-image: url("../images/BODY/BACKGROUND/bande\ milieu.png"); 
    /* position: absolute;  */
    background-repeat: repeat-y;
    /* height: 480vh;   */
  
    padding: 50px auto 20px auto; 
    background-size: cover;   


   
   
}
.bande{
    background-image: url("../images/HEADER/3_bandes.png");
    background-repeat: no-repeat;
  
}  
.row {
    margin-right: 0 !important;
    margin-left: 0 !important;
} 
.image{
    z-index: 1;
    position: absolute;
    
}
.navbar{
    z-index: 0;
}
p{
    color: red;
}
/* .valide input{
     margin-top: 1069px; 
    margin-left: 500px;
    width: 170px;
    background-image: url("assets/images/body/espace client/bouton_valider.png");
    background-repeat: no-repeat;
    height: 50px;
}  */
/* .footer
{
    background-image: url("../images/FOOTER/footer_simple.png");
    
}  */